<!doctype html>
<html lang="en">

{{>header}}

<body>

    <div class="container mt-5" style="height:75vh">
        <h1 class="display-4 text-center">About Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, deleniti nesciunt? Saepe, impedit! Consectetur eum accusamus accusantium consequatur sunt possimus provident quod deserunt, natus vitae, dolorem quia. Aliquid impedit aut odio cum eaque eligendi quo, consectetur enim, consequuntur cumque eveniet minima. Ad, vero excepturi voluptatibus ratione est maiores debitis quibusdam!
        </p>
    </div>

    {{>footer}}
</body>

</html>