<!doctype html>
<html lang="en">

{{>header}}

<body>
  <div class="text-center mt-5">
    <img src="/images/logo-transparent.png" id="image-fix-login" alt="logo">
  </div>
  <div class="text-center display-6 lms">
    Learning Management System
  </div>

  <!-- cards  -->
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4 p-sm-5 p-3 mt-4 login-header">
      <div class="col">
        <div class="card h-100 p-3 rounded-3">
          <div class="card-body">
            <h5 class="card-title"><strong> <i class="bi bi-person-fill"></i> Student Login </strong></h5>
            <p class="card-text">
              Login with your UID and Password to access your Student Services and Account.
              The CUIMS will keep a record of your progress and keep you apprised of the latest updates.
            </p>
          </div>
          <a href="/studentlogin"><button type="button" class="btn btn-primary w-100">Login Now</button></a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-3 rounded-3">
          <div class="card-body">
            <h5 class="card-title"><strong><i class="bi bi-table"></i> Admission Login</strong></h5>
            <p class="card-text">
              For Admission Staff only. Use your Employee Code and Password to log in for admission
              related services.
            </p>
          </div>
          <a href="/studentregister"> <button type="button" class="btn btn-primary w-100">
              Login Now
            </button></a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-3 rounded-3">
          <div class="card-body">
            <h5 class="card-title"><strong><i class="bi bi-person-bounding-box"></i> Staff Login</strong>
            </h5>
            <p class="card-text">
              Login using your Employee Code and Password to access your account, keep track of your
              progress and other official services.
            </p>
          </div>
          <a href="/stafflogin"><button type="button" class="btn btn-primary w-100">
              Login Now
            </button></a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 p-3 rounded-3">
          <div class="card-body">
            <h5 class="card-title"><strong><i class="bi bi-gear"></i> About Us</strong></h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to additional content.
            </p>
          </div>
          <a href="/aboutus">
            <button type="button" class="btn btn-primary w-100">Click Here</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- footer  -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center mt-3">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/vivekyadav__1">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.twitter.com">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.github.com/vivek1833">
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>
          <p class="text-center text-white">
            © 2022. LMS - Learning Management System. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>