<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>

    <div class="container mb-5 text-center" style="height:69vh">
        <h1 class="display-6 mt-5">
            For Staff Login go to CUIMS as of now.
        </h1>
        <a href="https://staff.cuchd.in/"> Staff Login </a>
    </div>

    {{>footer}}
</body>

</html>