<div class="modal fade" id="dashboardModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 "> Dashboard for {{name}} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Name: {{name}} </p>
                <p> Course: {{course}} </p>
            </div>
        </div>
    </div>
</div>