<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/vivekyadav__1">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.github.com/vivek1833">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-center text-white">
                    © 2022. LMS - Learning Management System. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>