<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner mt-3 student-carousel bg-light">
        <div class="carousel-item active" data-bs-interval="3500">
            <img src="https://source.unsplash.com/1600x600?book,dark" class="d-block" alt="1">
            <div class="carousel-caption d-block d-md-block">
                <h5>LMS | Learning Management System</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, quia magnam perferendis rerum non
                    voluptatibus dignissimos reiciendis minima harum in sequi quo ratione ex autem.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="https://source.unsplash.com/1600x600?student,dark" class="d-block" alt="3">
            <div class="carousel-caption d-block d-md-block">
                <h5> Focus On Study With LMS </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit possimus tempora officia
                    sequi
                    consectetur, esseos eius, iste culpa ad eaque labore voluptate, nemo aliquam modi fuga architecto
                    illum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3500">
            <img src="https://source.unsplash.com/1600x600?learn,dark" class="d-block" alt="2">
            <div class="carousel-caption d-block d-md-block">
                <h5> Become What You Want</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet atque, fugit repellat laborum
                    quisquam
                    ratione eligendi sunt ex saepe deleniti tempora, nihil pariatur? Iste vero eius id.
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>